{#document title="Register"}
  Please enter the username you want to have and the password:
  {#safeform action="/register"}
    User: <input type="text" name="user">
    <br>
    Password: <input type="password" name="password">
    <br>
    In case you lose your password, we'll be happy to manually reset it, but we won't be able
    to unless you give us some way to verify that you're really who you claim to be. Enter something
    like "email foo@bar.com, github foobar, freenode foobar" here.
    <br>
    <input type="text" name="recoverData">
    <br>
    <button type="submit">
      Register
    </button>
  {/safeform}
{/document}
