{#document title="Thread"}
  {#withthread}
    <h1>{text name="thread.title" format="plain"}</h1>
    {#foreach list="thread.posts" element="post"}
      <div class="post">
        <div class="postmeta">
          By {text name="post.value.owner" format="plain"}
          <br>
          {text name="post.value.creation" format="plain"}
        </div>
        <div class="posttext">
          {text name="post.value.text" format="markdown"}
        </div>
        <div class="postfooter">
        
        </div>
      </div>
    {/foreach}
    {pagenav}
  {/withthread}
{/document}
