{#document title="Thread"}
  {#withthread}
    <h1>{text name="thread.title" format="plain"}</h1>
    {uplinks pathvar="thread.path" type="thread"}
    {#foreach list="thread.posts" element="post"}
      <div class="post">
        <div class="postmeta">
          By {text name="post.value.owner" format="plain"}
          <br>
          {text name="post.value.creation" format="plain"}
        </div>
        <div class="posttext">
          {text name="post.value.text" format="markdown"}
        </div>
        <div class="postfooter">
        
        </div>
      </div>
    {/foreach}
    {pagenav}
    <h2>Reply</h2>
    {#safeform action="/post"}
      <input type="hidden" name="topic" value="{text name="thread.id" format="hex"}">
      {#editbox editboxname="ace_reply"}{/editbox}
      <input type="hidden" name="text" id="ace_reply_text_field" value="">
      
      <button type="submit" class="greenbutton">
        send
      </button>
    {/safeform}
  {/withthread}
{/document}
